/Public/Modules/*
!/Public/Modules/Main
/Public/Themes/*
!/Public/Themes/Default
/EvoJsDev/Modules/*
!/EvoJsDev/Modules/Main
/node_modules
/.vscode
/composer.lock
/composer.phar
/vendor
/package-lock.json
/sql-errors.txt
/config.json
/Public/dist
/Uploads
/Public/dist/all-scripts.html
/favicon.ico
/EvoPhp/Database/Config.php
/color-scheme.css
/bundle-*.zip
/Public/Templates/*
!/Public/Templates/email.blade.php
/Public/Modules/Main/Views/cache/*
/Public/Themes/*/Views/cache/*
/Public/Templates/cache/*